/* 全局样式 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

/* 容器样式 */
.function-container {
    width: 90%;
    max-width: 800px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: auto;
    /* 水平和垂直居中 */
}

/* 标题样式 */
.function-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: black;
    font-size: 24px;
    font-weight: bold;
}

/* 功能项列表 */
.function-list {
    display: flex;
    flex-wrap: wrap;
    /* 允许内容换行 */
    justify-content: space-around;
    /* 在主轴上均匀分布项目 */
}

/* 功能项 */
.function-item {
    flex: 0 0 calc(50% - 20px);
    /* 每个功能项占据50%减去间距的空间 */
    margin-bottom: 20px;
    /* 项目之间的垂直间距 */
    padding: 15px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    transition: background-color 0.3s, transform 0.1s;
    text-align: center;
    /* 如果需要，可以在功能项内部居中文本 */
}

.function-item:hover {
    background-color: #f0f0f0;
    transform: translateY(-5px);
}

/* 功能描述 */
.function-item p {
    margin: 0 0 10px 0;
    /* 移除默认的margin，添加底部间距 */
    font-size: 16px;
}

/* 功能按钮 */
.function-button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}