<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OCR识别</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='image_ocr.css') }}">
</head>

<body>
    <div class="upload-container">
        <h1>图片上传</h1>
        <form action="/image_ocr" method="post" enctype="multipart/form-data" class="upload-form">
            <label for="fileUpload">选择文件：</label>
            <input type="file" id="fileUpload" name="file" accept=".png,.jpg,.jpeg">            
            <br><br>
            <input type="submit" value="上传">
        </form>
    </div>
</body>

</html>