<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='ai_answer_style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI问答</title>
</head>

<body>
    <div class="container">
        <h1 class="page_title">AI问答</h1>
        <form method="post" action="/ai_answer_func" class="form-container">
            <div class="input-group">
                <label for="txt"></label>
                <textarea id="txt" name="data" placeholder="请输入问题" required></textarea>
            </div>
            <div class="button-group">
                <button id="btn" type="submit">提交</button>
            </div>
        </form>
        <div id="results" class="results-container">
            <div id="results_title">
                结果
            </div>
            {% if message %}
            <textarea id="results_element" readonly>{{ message }}</textarea>
            {% else %}
            <p>请提交问题以查看结果。</p>
            {% endif %}
        </div>
    </div>
    <script src="{{ url_for('static', filename='ai_answer.js') }}"></script>
</body>

</html>